// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.books{

main{
  margin: 30px;
}
.blog-heading{
    display: flex;
    width: 100%;
}
.blog-heading > h4{
    flex-basis: 200px;
    margin-right: auto;
}
    
.blog-item{
    display: flex;
}
.blog-item > div{
    margin-right: auto;
    flex-basis: 200px;
    max-width: 200px;
    overflow: hidden;
    
}
.new-book{
    margin: 15px 0;
    padding: 15px 0;
}

.main-show > div{
    display: flex;
    margin-left: 20px;
    padding: 20px;
}
.flash{
    color: green;
    margin-left: 40px;
}
    
}